<h1><%= t("cms.editing_page") + " \"#{@page.title}\" " %></h1>

<%= form_for(@page, admin_page_path(@page), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= render :partial => 'admin/shared/edit_resource_links' %>
<% end %>

